<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This App is created by KVSR. This app uses two API's data to get Weather Info. Those are <b>weatherstack.com</b> and <b>mapbox.com</b></p>
        <img src="./img/sai.jpg" alt="Img not found">
        {{>footer}}
    </div>
</body>
</html>